{% extends "base.html" %}
{% block houses %}
    {% for house in houses %}
        <a href="{{ '/{}'.format(house[0]) }}"><h3>{{ house[0] }}</h3></a>
    {% endfor %}
{% endblock %}

{% block members %}
    {% for member in sworn_members_names %}
        <h3>{{ member }}</h3>
    {% endfor %}
{% endblock %}